<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteSMP_XML">
  <test name="SMP_XML" enabled="true">
    <classes>
      <class name="SMP_XML.TC559SMP_XMLFourWeekly5"/>
      <class name="SMP_XML.TC568SMP_XMLFortNight6"/>
      <class name="SMP_XML.TC550SMP_XMLFortNight1"/>
      <class name="SMP_XML.TC556SMP_XMLFourWeekly2"/>
      <class name="SMP_XML.TC567SMP_XML10"/>
      <class name="SMP_XML.TC573SMP_XMLFoutWeekly6"/>
      <class name="SMP_XML.TC566SMP_XML9"/>
      <class name="SMP_XML.TC572SMP_XMLFortNight10"/>
      <class name="SMP_XML.TC569SMP_XMLFortNight7"/>
      <class name="SMP_XML.TC576SMP_XMLFourWeekly9"/>
      <class name="SMP_XML.TC551SMP_XMLFortNight2"/>
      <class name="SMP_XML.TC546SMP_XML2"/>
      <class name="SMP_XML.TC553SMP_XMLFortNight4"/>
      <class name="SMP_XML.TC547SMP_XML3"/>
      <class name="SMP_XML.TC545SMP_XML1"/>
      <class name="SMP_XML.TC555SMP_XMLFoutWeekly1"/>
      <class name="SMP_XML.TC549SMP_XML5"/>
      <class name="SMP_XML.TC548SMP_XML4"/>
      <class name="SMP_XML.TC558SMP_XMLFourWeekly4"/>
      <class name="SMP_XML.TC552SMP_XMLFortNight3"/>
      <class name="SMP_XML.TC570SMP_XMLFortNight8"/>
      <class name="SMP_XML.TC565SMP_XML8"/>
      <class name="SMP_XML.TC575SMP_XMLFourWeekly8"/>
      <class name="SMP_XML.TC554SMP_XMLFortNight5"/>
      <class name="SMP_XML.TC577SMP_XMLFourWeekly10"/>
      <class name="SMP_XML.TC564SMP_XML7"/>
      <class name="SMP_XML.TC563SMP_XML6"/>
      <class name="SMP_XML.TC574SMP_XMLFourWeekly7"/>
      <class name="SMP_XML.TC571SMP_XMLFortNight9"/>
      <class name="SMP_XML.TC557SMP_XMLFourWeekly3"/>
    </classes>
  </test> <!-- SMP_XML -->
  
  <test name= "TC560SMPDOB" enabled="true">  
  		 
 			<classes> 
    				<class name= "_2118SMPDOB.TC560SMPDOB"/>
   			</classes> 		
  			
 	</test>
		
 		<test name= "TC577SMP_XML" enabled="true">  
  		 
 			<classes> 
    				<class name= "_2118SMPDOB.TC577SMP_XML"/>
   			</classes> 		
  			
 	</test>
 	
 	<test name= "TC561SMP_XMLFourWeekly10" enabled="true">  
  		 
 			<classes> 
    				<class name= "_2118SMPDOB.TC561SMP_XMLFourWeekly10"/>
   			</classes> 		
  			
 	</test>
  
  
</suite> <!-- SuiteSMP_XML -->
